.order-food-card {
    background-color: var(--color-primary-light);
    border-radius: 15px;
    margin: 0 auto;
    border: 1px solid rgba(245, 71, 71, 0.2);
}

.order-food-card img {
    width: 100px;
    border-radius: 15px;
    margin-right: 20px;
}

.order-food-card-info {
    display: flex;
    align-items: center;
    padding: 10px;
}

.order-food-card-price {
    padding: 20px;
    font-size: 30px;
}

@media only screen and (max-width: 449px) {
    .order-food-card img {
        width: 70px;
    }
    .order-food-card-info h2 {
        font-size: 20px;
        line-height: 25px;
    }

    .order-food-card-price {
        font-size: 25px;
        padding: 10px;
    }
}

@media only screen and (max-width: 309px) {
    .order-food-card-info h2 {
        font-size: 16px;
        line-height: 22px;
    }

    .order-food-card-price {
        font-size: 20px;
        padding: 10px;
    }
}