/* Importing poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Importing flaticon */
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

/* Defining global variables */
:root {
    --color-primary: hsl(0, 90%, 62%);
    --color-primary-dark: hsl(360, 90%, 45%);
    --color-primary-light: rgba(245, 71, 71, 0.3);

    --color-secondary: hsl(39, 98%, 68%);
    --color-secondary-dark: hsl(39, 98%, 40%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    background-image: linear-gradient(to bottom, var(--color-primary-light), white);
    background-repeat: no-repeat;
}

body {
    max-width: 1440px;
    margin: 0px auto;
}
